.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    padding: 2em;
    margin-top: 8em;
    width: 30em;
    margin-right: 2em;
    /* background-color: green; */
    /* height: 50em; */
}


.wrapper{
    display: flex;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
}